<nav class="mb-2" aria-label="Member details">
  <ul class="crayons-navigation crayons-navigation--horizontal">
    <li><a href="#" class="crayons-navigation__item crayons-navigation__item--current" aria-label="Member overview" aria-current="page"><%= t("views.admin.user.tabs.overview.header") %></a></li>
    <li><a href="#" class="crayons-navigation__item"><%= t("views.admin.user.tabs.notes.header") %></a></li>
    <li><a href="#" class="crayons-navigation__item"><%= t("views.admin.user.tabs.emails.header") %></a></li>
    <li><a href="#" class="crayons-navigation__item"><%= t("views.admin.user.tabs.reports.header") %></a></li>
    <li><a href="#" class="crayons-navigation__item"><%= t("views.admin.user.tabs.flags.header") %></a></li>
  </ul>
</nav>
